@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

:root {
    background-color: #1a1a1a;
    font-size: 32px;
    font-family: 'Megrim', sans-serif;
    color: #EFF2F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.btn {
    background-color: #1a1a1a;
    font-family: 'Megrim', sans-serif;
    color: #EFF2F9;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 32px;
    font-weight: bold;
    transition: transform 0.1s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(1);
}